@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Playwrite+CU:wght@100..400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*a medida caixa seja apartir da bordar*/
  }

  .logoo {
    display: flex;
  }


  header {
    position: fixed;
    display: block;
    background-color: rgb(182, 233, 240);
  }


  .logo {
    padding: 0.5rem;
  }

  .menu-button {
    display: none;
  }

  #menu {
    padding: 1rem 14.4rem;
    background-color: rgb(182, 233, 240);
  }

  ul {
    list-style: none; /*estilo da lista: nenhum */
    display: flex;
  }
  
  ul li a {
    padding: 16px 24px;
  } 
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }

  nav ul li {
    display: inline;
    margin-right: 10px;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
  }

  nav ul li a:hover {
    text-decoration: underline;
  }

  section {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
  }
  #convite {
    margin: 0;
    padding: 8rem 35rem 4rem 4rem;
    background-image: url(./img/convite.png);
    background-repeat: no-repeat; /*tirar repetição da imagem*/
    background-position: left center; /*posição, colocar imagem no centro X e Y*/
    background-size: cover; /*para cobrir toda area disponivel*/
  }

  #convite h1 {
    color: rgb(247, 9, 48);
    font-size: 50px;
    font-family: "Nerko One", system-ui;
  }

  #convite p {
    color: rgb(22, 22, 22);
    font-size: 30px;
    font-weight: 500;
    font-family: "Nerko One", system-ui;
    margin-top: 40px;
  }

  #convite strong {
    background-color: pink;
    color: rgb(247, 9, 48);

  }

  #fotos {
    margin: 0;
    padding: 5rem 0;
    background-color: white;
    
  }

 

  h2 {
    display: flex;
    color: rgb(247, 9, 48);
    justify-content: center;
    margin: 0 0 5rem 0;
    font-family: "Nerko One", system-ui;
    font-size: 40px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1100px;
    margin: 0 auto;
    grid-gap: 40px;
    
  }

  .card {
    background-color: rgb(182, 233, 240);
    display: flex;

    flex-direction: column;
    align-items: center;

    padding: 20px 30px;
    box-shadow: 6px 6px 10px #0000005d; /*sobra atras da foto*/


  }

  .card .user {
    width: 250px; /*tamanho da foto */
    height: 200px;
    margin-bottom: 15px;
  }


  .depo {
    font-family: "Nerko One", system-ui;
    text-align: center;
    font-size: 17px;
  }



  .titulo {

    font-weight: 900;
    color: rgb(236, 14, 162);
  }


  #video {
    margin: 0;
    padding: 5rem ;
    background-color: rgb(255, 206, 214); 
    text-align: center;

  }

  video {
    width: 800px; /*tamanho da foto */
  }

  .video {
    
    display: flex;
    color: rgb(247, 9, 48);
    justify-content: center;
    font-family: "Nerko One", system-ui, sans-serif;
    font-size: 40px;

  }

  #local {
    margin: 0;
    min-height: 100vh;
    background: white;
    padding: 3rem ;
    text-align: center;
  }

  iframe {
    width: 800px; /*tamanho da foto */
    height: 400px;
  }

  #convidados {
    margin: 0;
    background-color: rgb(255, 206, 214);
    padding: 2rem 0 0 0;
  }

  form {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-items: center;
    padding: 2rem 5rem;
  }

  label {
    font-family: "Nerko One", system-ui, sans-serif;
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
  }
  
  input {
    width: 30%;
    padding: 0.8rem ;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input:focus {
    border-color: rgb(182, 233, 240);
    outline: none;
  }
  
  
  button {
    font-family: "Nerko One", system-ui, sans-serif;
    font-size: 25px;
    width: 10%;
    border-radius: 4px;
    background-color: #ec36827e;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
  }

  #presenca {
    
    margin: 0 20rem;
    padding:  5rem 10rem;
    font-family: "Nerko One", system-ui, sans-serif;
    font-size: 25px;
    color: #da4141;
    margin-bottom: 5px;
    width: 50%;
    padding: 0.8rem ;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

  }
  
  footer {
    padding:24px 0;
    text-align: center;
    font-family: "Nerko One", system-ui, sans-serif;
    font-size: 25px;
    background-color: rgb(182, 233, 240);
  }
  


  

  @media (max-width: 768px) {

    .card {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .user img {
      width: 80px;
      height: 80px;
    }

    .logoo {
      display: flex;
      padding: 0;
      border: 3px solid red;
    }
    .logoo a {
      padding: 0 11rem;
    }
  
    #menu {
      padding: 2rem;
      display: none;
      
    }

    #convite {
      padding: 8rem 17rem 5rem 1rem;
    }
  
    #convite h1 {
      padding: 0;
      font-size: 10px;
    }
  
    #convite p {
      font-size: 10px;
      margin-top: 20px;
    }
  
    #fotos {
      margin: 0;
      padding: 0
    }
  
    h2 {
      margin: 1rem;
      font-size: 20px;
    }
  
    .cards {
      max-width: 768px;
      grid-gap: 10px;
    }
  
    .card {
      padding: 5px 0;
    }
  
    .card .user {
      width: 70px; /*tamanho da foto */
      height: 70px;
    }
  
  
    #video {
      margin: 0;
      padding: 2rem 0 ;  
    }
  
    video {
      width: 350px; /*tamanho da foto */
    }
  
    .video {
      display: block;
      font-size: 20px;
  
    }
  
    #local {
      padding: 2rem ;
    }
  
    iframe {
      width: 400px; /*tamanho da foto */
      height: 200px;
    }
  
    #convidados {
      padding: 0.5rem 0;
    }
  
    form {
      justify-items: left;
      padding: 8px;
    }
  
    label {
      font-size: 10px;
    }
    
    input {
      width: 50%;
      padding: 0.2rem ;
    }
        
    button {
      font-size: 15px;
      width: 20%;
    }
  
    #presenca {
      margin: 0 50%;
      padding:  1rem;
      font-size: 15px;
      width: 30%;
      padding: 0.2rem ;  
    }
  }
